{
displayStrings = (
"ﬀﬃ/dotlessij/dotlessij/f_f_i/f_f_j/ij_acutecomb ½½¼¼%‰¾¾/eight.numr/eight.tnum/eight.tnum/five.tnum/five.tnum/four.tnum/four.tnum/nine.tnum/nine.tnum/one.tnum/one.tnum/seven.tnum/seven.tnum/six.tnum/six.tnum/three.tnum/two.tnum/two.tnum/zero.tnum/zero.tnum",
"AaBbCcDdEeFfGgHh
IıiJȷjKkLlMmNnOoPpQq
RrSsTtUuVvWwXxYyZz
/A.alt/B.alt/E.alt/F.alt/K.alt/M.alt/P.alt/Q.alt/R.alt/W.alt 
Quick Brownfox
",
"",
"⁄¼/V.alt V",
"⁄/one.dnom ¼/V.alt",
"/V.alt"
);
}
