(
uni0122,
uni0136,
uni013B,
uni0145,
uni0162,
uni0218,
uni021A,
uni1E24,
uni1E36,
uni1E9E,
uni0123,
uni0137,
uni013C,
uni0146,
uni0163,
uni0219,
uni021B,
uni0237,
uni1E25,
uni1E37,
uniFB01,
uniFB03,
uni0123.alt,
uni0302,
uni0304,
uni0306,
uni0307,
uni0308,
uni030A,
uni030B,
uni030C,
uni0312,
uni0315,
uni0326,
uni0327,
uni0328,
uni0302.cap,
uni0304.cap,
uni0306.cap,
uni0307.cap,
uni0308.cap,
uni030A.cap,
uni030B.cap,
uni030C.cap,
uni0326.cap,
uni0327.cap,
uni0328.cap,
uni0328.round,
uni0328.round.cap,
uni0315.short,
uni2010,
uni2011,
uni2236,
uni20B9,
uni20BA,
uni20BD,
uni00A0,
uni2000,
uni2001,
uni2002,
uni2003,
uni2004,
uni2005,
uni2006,
uni2007,
uni2008,
uni2009,
uni200A,
uni0000,
uni000D,
uni00AD,
uni200B,
uniFEFF,
.notdef,
A,
AE,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Cdotaccent,
D,
Dcaron,
Dcroat,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eng,
Eogonek,
Eth,
Euro,
F,
G,
Gbreve,
Gdotaccent,
H,
Hbar,
I,
IJ,
IJ_acutecomb,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
K,
L,
Lacute,
Lcaron,
Lslash,
M,
N,
Nacute,
Ncaron,
Ntilde,
O,
OE,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Oslash,
Otilde,
P,
Q,
R,
Racute,
Rcaron,
S,
Sacute,
Scaron,
Scedilla,
T,
Tbar,
Tcaron,
Thorn,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Z,
Zacute,
Zcaron,
Zdotaccent,
a,
aacute,
abreve,
acircumflex,
acute,
acutecomb,
adieresis,
ae,
agrave,
amacron,
ampersand,
aogonek,
aring,
asciicircum,
asciitilde,
asterisk,
at,
atilde,
b,
backslash,
bar,
braceleft,
braceright,
bracketleft,
bracketright,
breve,
bullet,
c,
cacute,
caron,
ccaron,
ccedilla,
cdotaccent,
cedilla,
cent,
circumflex,
colon,
comma,
copyright,
currency,
d,
dagger,
daggerdbl,
dcaron,
dcroat,
degree,
dieresis,
divide,
dollar,
dotaccent,
dotbelowcomb,
dotlessi,
dotlessij,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
eight,
ellipsis,
emacron,
emdash,
endash,
eng,
eogonek,
equal,
eth,
exclam,
exclamdown,
f,
f_f,
f_f_i,
f_f_j,
f_i,
f_j,
f_t,
five,
four,
fraction,
g,
gbreve,
gdotaccent,
germandbls,
grave,
gravecomb,
greater,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
h,
hbar,
hungarumlaut,
hyphen,
i,
iacute,
icircumflex,
idieresis,
igrave,
ij,
ij_acutecomb,
imacron,
iogonek,
itilde,
j,
k,
kgreenlandic,
l,
lacute,
lcaron,
less,
logicalnot,
lslash,
m,
macron,
minus,
multiply,
n,
nacute,
ncaron,
nine,
ntilde,
numbersign,
o,
oacute,
ocircumflex,
odieresis,
oe,
ogonek,
ograve,
ohungarumlaut,
one,
onehalf,
onequarter,
ordfeminine,
ordmasculine,
oslash,
otilde,
p,
paragraph,
parenleft,
parenright,
percent,
period,
periodcentered,
perthousand,
plus,
plusminus,
q,
question,
questiondown,
quotedbl,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotesinglbase,
quotesingle,
r,
racute,
rcaron,
registered,
ring,
s,
sacute,
scaron,
scedilla,
section,
semicolon,
seven,
six,
slash,
space,
sterling,
t,
tbar,
tcaron,
thorn,
three,
threequarters,
tilde,
tildecomb,
trademark,
two,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
underscore,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
yen,
ygrave,
z,
zacute,
zcaron,
zdotaccent,
zero,
A.alt,
B.alt,
E.alt,
F.alt,
K.alt,
M.alt,
P.alt,
Q.alt,
R.alt,
W.alt,
a.alt,
aacute.alt,
abreve.alt,
acircumflex.alt,
adieresis.alt,
agrave.alt,
amacron.alt,
aogonek.alt,
aring.alt,
atilde.alt,
g.alt,
gbreve.alt,
gdotaccent.alt,
acutecomb.asc,
acutecomb.cap,
dotbelowcomb.cap,
gravecomb.cap,
tildecomb.cap,
eight.dnom,
five.dnom,
four.dnom,
nine.dnom,
one.dnom,
seven.dnom,
six.dnom,
three.dnom,
two.dnom,
zero.dnom,
periodcentered.loclCAT,
periodcentered.loclCAT.cap,
eight.numr,
five.numr,
four.numr,
nine.numr,
one.numr,
seven.numr,
six.numr,
three.numr,
two.numr,
zero.numr,
M.opsz48,
zero.percent,
eight.tnum,
five.tnum,
four.tnum,
nine.tnum,
one.tnum,
seven.tnum,
six.tnum,
three.tnum,
two.tnum,
zero.tnum,
a.caltInit,
a.caltMid,
a.caltEnd,
e.caltInit,
e.caltMid,
e.caltEnd,
f.caltInit,
f.caltMid,
f.caltEnd,
o.caltInit,
o.caltMid,
o.caltEnd,
t.caltInit,
t.caltMid,
t.caltEnd,
O.alt,
V.alt,
M.alt2,
V_i_b_e.liga,
V_i_b_e_s.liga,
f_f.liga,
f_f_f.liga,
f_f_f_f.liga,
t_t.liga,
t_t_t.liga,
t_t_t_t.liga
)