{
displayStrings = (
"",
"/V_i_b_e.liga",
"/V_i_b_e_s.liga",
"/o.caltMid",
"/o.caltInit/o.caltMid/o.caltMid/o.caltMid/o.caltEnd 
ISAl/o.caltInit/o.caltMid/o.caltMid/o.caltMid/o.caltEnd g/o.caltInit/o.caltMid/o.caltMid/o.caltMid/o.caltEnd 
Financial services
$500
Digital Payments
DIGITAL PAYMENTS",
"ĢĶḶẞ"
);
}
